.menu-button {
  width: 45px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
  border-radius: 3px;
}

/* When hovering over the button, move the lines closer together */
.menu-button:hover .line:nth-child(1) {
  transform: translateY(8px); /* Move the top line down */
}

.menu-button:hover .line:nth-child(3) {
  transform: translateY(-8px); /* Move the bottom line up */
}

.menu-button:hover .line:nth-child(2) {
  opacity: 0; /* Hide the middle line */
}

.menu-button:hover .line {
  background-color: rgb(31, 11, 207);
}
