:root {
    --CARD-SIZE: 5;
}

.product-card-main-body {
    width: calc(70px * var(--CARD-SIZE));
    height: calc(100px * var(--CARD-SIZE));
    background-color: white;
    border-radius: calc(var(--CARD-SIZE) * 2px);
    position: relative;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: center;
    align-items: center;
}

.product-card-alt-top {
    background-color: white;
    width: 100%;
    height: calc((100px * var(--CARD-SIZE)) / 15);
    border-radius: calc(var(--CARD-SIZE) * 2px);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: var(--CARD-SIZE);
    flex-direction: row;
}

.product-card-alt-top-a {
    width: 50%;
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
    margin-left: calc(2px * var(--CARD-SIZE));
    color: gray;
    padding: calc(1px * var(--CARD-SIZE));
}

.product-card-alt-top-b{
    width: 50%;
    display: flex;
    height: 100%;
    justify-content: right;
    align-items: center;
    padding: calc(1px * var(--CARD-SIZE));
}

.product-card-alt-image-container {
    height: calc(70px * var(--CARD-SIZE) + 10px);  
    width: calc(70px * var(--CARD-SIZE) - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(1px * var(--CARD-SIZE));
    padding-right: calc(1px * var(--CARD-SIZE));
    position: relative;
    margin-bottom: 10px;
}

.product-card-alt-img {
    width: 300px;
    height: 300px;
    transform: translate(0px, 0px);
    transition: transform 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
}

.product-card-alt-price-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 10px;
  padding-right: 10px;
  transform: translate(0px, 0px);
  transition: transform 0.3s ease-in-out;
}

.product-card-alt-title-rating-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.product-card-alt-title {
  font-size: large;
  margin: 0;
  font-weight: 500;
}


.product-card-alt-price {
  font-size: large;
  margin: 0;
  color: #444;
}

.product-card-alt-sliding-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc((100px * var(--CARD-SIZE)) / 10);
    background-color: var(--BLUE-ACCENT);
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-card-main-body:hover {
    .product-card-alt-sliding-bottom {
        transform: translate(0px, 0px);
    }

    .product-card-alt-img {
        transform: translate(0px, -50px);
    }

    .product-card-alt-price-title {
        transform: translate(0px, -50px);
    }
}

.heart-svg {
  color: var(--FONT_GREY);
  transition-property: color;
  transition-duration: 0.3s;
  font-size: 24px;
  padding-right: 10px;
}

.heart-svg:hover {
  color: var(--HEART-COLOR);
  cursor: pointer;
}

.product-card-alt-rating {
  font-size: 14px;
  padding-left: 5px;
}

.product-card-alt-title-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-card-cart-icon {
  color: white;
  font-size: 24px;
}

.add-to-cart-text {
  margin: 10px;
}