.iridescence-container {
  width: 100%;
  height: 100%;
}

.iridescence-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.iridescence-wrapper canvas {
  position: absolute !important; /* canvas from OGL */
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  pointer-events: none; /* so clicks go through */
}

.iridescence-content {
  height: 100%;
  position: relative;
  z-index: 1; /* on top of canvas */
  pointer-events: auto;
  color: white; /* or whatever style */
  /* padding: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}