.home-products-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* în loc de 500px */
  padding: 60px 0; /* suficient spațiu sus și jos */
}