.home-products-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: visible; /* Add this */
  margin: 0; /* Remove any existing margin */
  padding: 0; /* Remove any existing padding */
}

.home-container {
  overflow: visible;
}