.search-bar {
  display: inline-block;
  width: 400px; /* Adjust as needed */
  vertical-align: top; /* Align with dropdown */
  position: relative;
  
}

.search-input {
  width: 100%;
  padding: 12px 16px; /* Adjust padding to match the dropdown */
  height: 48px; /* Set consistent height */
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  box-sizing: border-box; /* Ensures padding is calculated inside the width */
}

.search-input::placeholder {
  color: #aaa;
}

/* Search button */
.search-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #007bff;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

.search-btn:hover {
  color: #0056b3;
}
.search-img {
  width: 20px;
  height: 20px;
}